#jsDom
    padding: 50px
    .chat,.message,input,.send,.line
        border-radius: 20px
    .chat
        background-color: #d9e0f8
        width: 400px
        padding: 20px
        .message
            background-color: #ffff
            height: 200px
            padding: 5px
            .line
                text-align: center
                margin: 5px
                width: 50px
                padding: 6px
        .text
            display: flex
            flex-direction: row
            justify-content: center
            margin-top: 15px
        .send,.line
            color: #ffff
            background-color: #94a6e6
        .send
            display: flex
            justify-content: center
            align-content: center
            width: 60px
            input
                width: 140px
                margin: 0 10px