#jsDom
    padding: 50px 0
    .chat,.message
        border-radius: 15px
    .chat
        display: flex
        justify-content: center
        width: 380px
        height: 245px
        background-color: #e8edff
        .box
            padding: 20px 0 0
        .message
            padding: 5px
            background-color: #ffff
            width: 350px
            height: 170px
            .end
                margin: 5px 0
        .minibox
            display: flex
            justify-content: center
            margin: 15px 0
            .text
                display: flex
            input
                margin: 0 10px
                padding: 2px
                width: 120px
        input,.send,.line
            border-radius: 20px
        .send,.line
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            background-color: #94a6e6
            
